@model TestsWeb.Models.Computer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление новой записи</h2>


@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.mac_adress, "Введите МАС-адрес")
    <br />
    @Html.EditorFor(model => model.mac_adress)
    <br /><br />
    @Html.LabelFor(model => model.ip_adress, "Введите ip-адрес(без точек)")
    <br />
    @Html.EditorFor(model => model.ip_adress)
    <br /><br />
    @Html.LabelFor(model => model.user_name, "Название")
    <br />
    @Html.EditorFor(model => model.user_name)
    <br /><br />
    @Html.LabelFor(model => model.os_version, "Версия ОС")
    <br />
    @Html.EditorFor(model => model.os_version)
    <br /><br />
    <input type="submit" value="Добавить" />
}